body{
  font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
}
h1, h2 {color: #007e7e;}
h1{
  font-size: 1.5em;
}
h2{
  font-size: 1.3em;
}
em{font-family: serif;}
.cd{font-style: italic;}
.artist{font-weight: bold;}
#guarantee{
    line-height: 1.9em;
    font-family: Georgia, Times, serif;
    font-style: italic;
    color: #444444;
    border: white dashed 1px;
    background: #a7cece url("../images/background.gif") no-repeat top left;
    padding: 25px 25px 25px 80px;
    margin: 30px 200px 30px 30px;
}
#elixirs{
  line-height: 1;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin: 0px 0px 0px 20px;
  text-align: center;
  background: url("../images/cocktail.gif") repeat-x top;
  border: thin solid #007e7e;
}
#elixirs h2 {color: black;}
#elixirs h3 {color: #d12c47;}
#footer{
  font-size: 70%;
  text-align: center;
  line-height: normal;
  margin-top: 30px;
}
a:link{color: #007e7e;}
a:visited{color: #c55050;}
a.elixirs:hover{
  background: #f88396;
  color: #0d5353;
}
